body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: row;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

#map {
  flex: 3;
  height: 100vh;
}

#station-list {
  flex: 1;
  background: #f4f4f9;
  padding: 1rem;
  overflow-y: auto;
  box-shadow: -2px 0 10px rgba(0,0,0,0.1);
}

#station-list ul {
  list-style: none;
  padding: 0;
}

#station-list li {
  background: white;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
